@tailwind base;
@tailwind components;
@tailwind utilities;

html{
       scroll-behavior: smooth;
}

.con p:not(:last-child){
  @apply mb-4  
} 
.clips {
       -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
       clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.clip-about {
       -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
       clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

 .list{
        @apply relative hover:text-yellow-800 tracking-[1px] font-normal text-base;
 }

 .list::after{
        @apply content-[''] bg-gradient-to-r from-yellow-500 to-amber-800 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
 }

 .list:hover::after{
        @apply w-[100%];
 }

/* Hamburer Menu */
.hamburger {
       cursor: pointer;
       width: 24px;
       height: 24px;
       transition: all 0.25s;
       position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
       position: absolute;
       top:0;
       left: 0;
       width: 24px;
       height: 2px;
       background-color: #000;
       transform: rotate(0);
       transition: all 0.5s;
}

.hamburger-middle {
       transform: translatey(7px);
}

.hamburger-bottom {
       transform: translateY(14px);
}

.open{
       transform: rotate(90deg);
       transform: translatey(0px);
}

.open .hamburger-top{
       transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
       display: none;
}

.open .hamburger-bottom{
       transform: rotate(-45deg) translateY(6px) translate(-6px);
}